<!-- main/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MAIN INDEX</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <p>성별: {{ user.gender }}</p>
        <p>키: {{ user.height }}</p>
        <p>몸무게: {{ user.weight }}</p>
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</body>
</html>