{% extends "main/main.html" %}
{% load static %}

{% block gender_select %}
<li><a href="#" id="home-display">HOME</a></li>
{% csrf_token %}
{% if gender == 'female' %}
<li><a href="#" id="women-link">WOMEN</a></li>
<script src="{% static 'main/js/female.js' %}"></script>
{% else %}
<li><a href="#" id="men-link">MEN</a></li>
<script src="{% static 'main/js/male.js' %}"></script>
{% endif %}
{% endblock %}

{% block user_info %}
<p class="username-welcome">{{ user.username }} 고객님, 환영합니다!</p>
<form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button type="submit" class="login-button">Logout</button>
</form>
{% endblock %}

{% if gender == 'female' %}
{% block women_product_h2 %}
<div>
    <h2>{{ user.username }} 고객님 맞춤 사이즈 추천 결과입니다.</h2>
</div>
{% endblock %}
{% else %}
{% block men_product_h2 %}
<div>
    <h2>{{ user.username }} 고객님 맞춤 사이즈 추천 결과입니다.</h2>
</div>
{% endblock %}
{% endif %}