<!doctype html>
<html lang="en">
{% csrf_token %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>의류 추천 사이트, otto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="hero">
        <div class="container">
            <div class="left-content">
                <div>
                    <h1>OTTO</h1>
                    <h2>옷, 또</h2>
                </div>
                <ul>
                    <li><a href="#" id="home-display">HOME</a></li>
                    <li><a href="#" id="women-link">WOMEN</a></li>
                    <li><a href="#" id="men-link">MEN</a></li>
                </ul>
            </div>
            <div>
            {% if user.is_authenticated %}
                <button type="button" class="login-button" onclick="document.location.href='{% url 'users:login' %}'">My Page</button>
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="login-button">Logout</button>
                </form>
            {% else %}
                <button type="submit" class="login-button" onclick="document.location.href='{% url 'users:login' %}'">Login</button>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2>의류 사이트</h2>
        <ul>
            <li><a href="https://www.musinsa.com">무신사</a></li>
            <li><a href="https://www.29cm.co.kr">29cm</a></li>
            <li><a href="https://www.zigzag.kr">zigzag</a></li>
        </ul>
    </div>

    <div class="content" id="home">
        <div>
            <h1>사이즈 기반 의류 추천 플랫폼, OTTO에 오신 것을 환영합니다!</h2>
            &ensp;
            <!-- <h2>사용 방법</h2>
            <ol id="how-to-use">
                <li><strong>회원가입</strong>을 통해 자신의 신체 사이즈를 입력합니다.</li>
                <li>상단 메뉴에서 <strong>"WOMEN"</strong> 또는 <strong>"MEN"</strong>을 선택하여 카테고리를 선택합니다.</li>
                <li>입력한 사이즈를 기반으로 추천된 의류 목록을 확인하고, 원하는 옷을 선택합니다.</li>
                <li>추천된 의류를 통해 자신의 스타일을 완성하세요!</li>
            </ol>
        
            <h2>플랫폼의 장점</h2>
            <p id="benefit">이 플랫폼은 사용자의 신체 사이즈에 따라 최적의 의류를 추천해 주기 때문에, 쇼핑 시간을 절약하고 만족스러운 쇼핑 경험을 제공합니다. </br> 개인의 체형과 취향에 맞춘 맞춤형 추천으로 쇼핑의 즐거움을 더하세요!</p>
        
            <div class="alert alert-warning" role="alert">
                <strong>팁:</strong> 사이즈 입력 후에는 추천된 의류를 클릭하여 자세한 정보를 확인하고 구매할 수 있습니다.
            </div> -->
        </div>
    </div>

    <div class="content" id="women-content">
        <div>
            <h2>평균 여성 키(162cm)와 몸무게(56kg)로 추천된 결과입니다.</h2>
        </div>
        &ensp;
        <div>
            <h3>상의</h3>
        </div>
        <div>
            <div class="scroll-container">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 1">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 2">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 3">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 4">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 5">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 6">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 7">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 8">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 9">
            </div>
        </div>
        &ensp;
        <div>
            <h3>하의</h3>
        </div>
        <div>
            <div class="scroll-container">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 1">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 2">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 3">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 4">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 5">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 6">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 7">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 8">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 9">
            </div>
        </div>
    </div>

    <div class="content" id="men-content">
        <div>
            <h2>평균 남성 키(174cm)와 몸무게(69kg)로 추천된 결과입니다.</h2>
        </div>
        &ensp;
        <div>
            <h3>상의</h3>
        </div>
        <div>
            <div class="scroll-container">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 1">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 2">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 3">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 4">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 5">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 6">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 7">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 8">
                <img src="https://via.placeholder.com/150" alt="상의 이미지 9">
            </div>
        </div>
        &ensp;
        <div>
            <h3>하의</h3>
        </div>
        <div>
            <div class="scroll-container">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 1">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 2">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 3">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 4">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 5">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 6">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 7">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 8">
                <img src="https://via.placeholder.com/150" alt="하의 이미지 9">
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/scripts.js' %}"></script>
</body>

</html>
