@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/* 스타일 */
body {
    overflow-y: scroll;
}

.hero {
    background-color: white;
    color: #343a40;
    padding: 20px 480px 15px 0px;
    border-bottom: 1px solid #343a40;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left-content {
    display: flex;
    align-items: center;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-shadow: 3px 3px 2.5px gray;
    margin: 0;
}

.hero h2 {
    margin: 0 20px 0 28px;
    font-size: 1.28rem;
    font-weight: normal;
    text-shadow: 5px 5px 2.5px gray;
}

.hero ul {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin: 60px 0 -10px 90px;
    display: flex;
}

.hero ul li {
    margin: 0 15px;
}

#women-link, #men-link {
    color: #343a40;
    text-decoration: none;
    cursor: pointer;
}

#women-link:hover, #men-link:hover {
    text-decoration: underline;
}

#home-display {
    color: #070707;
    text-decoration: none;
    padding: 10px 10px 6px;
    background-color: #e2e3e5;
}

.login-button {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 0 0 1200px;
    text-transform: uppercase;
    cursor: pointer;
}

.login-button:hover {
    background-color: #495057;
}

/* 사이드바 스타일 */
.sidebar {
    position: fixed;
    top: 180px;
    left: 0;
    height: 30%;
    width: 250px;
    background-color: #e2e3e5;
    border-right: 2px solid #f7f8f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #343a40;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #343a40;
    text-decoration: none;
    font-size: 1.3rem;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* 콘텐츠 스타일 */
.content h1 {
    font-size: 3.5rem;
}

.content h2 {
    font-size: 2rem;
}

.content h3 {
    font-size: 1.8rem;
}

#home {
    margin-left: 270px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home #how-to-use {
    font-size: 1.5rem;
}

#home #benefit {
    font-size: 1.5rem;
}

.alert {
    font-size: 1.3rem;
}

#women-content, #men-content {
    margin-left: 270px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    padding: 10px 0;
}

.scroll-container img {
    height: 200px;
    margin-right: 10px;
    border: 1px solid #ddd;
}
